.card-chart {
    width: 100%; 
    display: block;
    height: 60px;
    background-color: transparent;
    border-width: 0;
    margin: 2px, 2px, 2px, 2px;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.total {
    font-size: 3em;
}

.description {
    color: green;
    font-size: 2em;
}

.mat-icon {
    position: relative;
    padding: 0 20px;
    top: 5px;
}
